<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script th:src="@{webjars/jquery/3.7.1/jquery.min.js}" defer></script>
        <script
            th:src="@{webjars/jquery-ui/1.13.2/jquery-ui.min.js}"
            defer
        ></script>
        <script
            src="../static/js/script.js"
            th:src="@{/js/script.js}"
            defer
        ></script>
        <link
            rel="stylesheet"
            href="../static/css/style.css"
            th:href="@{/css/style.css}"
        />
        <link
            rel="stylesheet"
            th:href="@{webjars/jquery-ui/1.13.2/jquery-ui.min.css}"
        />
        <title>todo scatter graph</title>
    </head>
    <body class="body-style">
        <div class="container">
            <h1 class="h1-style">Todo App</h1>
            <div class="task_form">
                <h2 class="h2-style">新しいタスクを追加</h2>
                <div class="form-group">
                    <label>
                        タスク名
                        <input
                            type="text"
                            th:name="taskName"
                            placeholder="タスクを入力"
                        />
                    </label>
                    <label>
                        重要度(1-10)
                        <input
                            type="number"
                            th:name="importance"
                            th:value="${5}"
                            min="1"
                            max="10"
                        />
                    </label>
                    <label>
                        緊急度(1-10)
                        <input
                            type="number"
                            th:name="urgency"
                            th:value="${5}"
                            min="1"
                            max="10"
                        />
                    </label>
                    <button id="addTaskBtn">タスク追加</button>
                </div>
            </div>
            <div class="main-content">
                <div class="kanban-board">
                    <div class="kanban-column todo" data-status="todo">
                        <h3>📝Todo</h3>
                        <div class="task-list ui-dorppable" id="todoList"></div>
                    </div>
                    <div class="kanban-column doing" data-status="doing">
                        <h3>🏃Doing</h3>
                        <div
                            class="task-list ui-dorppable"
                            id="inProgressList"
                        ></div>
                    </div>
                    <div class="kanban-column done" data-status="done">
                        <h3 class="h3-style done">✅Done</h3>
                        <div class="task-list ui-dorppable" id="doneList"></div>
                    </div>
                </div>
                <div class="chart-container">
                    <h3>重要度・緊急度散布図</h3>
                    <div id="scatter-chart">
                        <div class="chart-axis x-axis"></div>
                        <div class="chart-axis y-axis"></div>
                        <div class="chart-axis x-label">緊急度 -></div>
                        <div class="chart-axis y-label">重要度 -></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tooltip" id="tooltip"></div>
        <div id="overlay" class="overlay">
            <div class="taskDetailMdl">
                <div class="mdl-container">
                    <h3>変更を反映するには実行ボタンを押してください</h3>
                    <div class="mdl-container-layout">
                        <label class="mdl-label mdl-task-title">
                            タスクタイトル
                            <input
                                type="text"
                                th:name="editedTaskName"
                                class="editTaskName"
                            />
                        </label>
                        <label class="mdl-label mdl-task-detail">
                            タスク詳細
                            <textarea
                                th:name="TaskDetail"
                                class="taskDetail-textarea"
                                rows="5"
                                cols="50"
                            >
sample タスク詳細
                            </textarea>
                        </label>
                        <div class="mdl-meta-layout">
                            <label class="mdl-label mdl-left-item">
                                <span class="mdl-bedge urgency"> 緊急度 </span>
                                <input
                                    type="number"
                                    th:name="editedUrgency"
                                    class="editUrgency"
                                />
                            </label>
                            <label class="mdl-label mdl-right-item">
                                <span class="mdl-bedge importance">
                                    重要度
                                </span>
                                <input
                                    type="number"
                                    th:name="editedImportance"
                                    class="editImportance"
                                />
                            </label>
                        </div>
                        <input
                            type="hidden"
                            th:name="editTargetTaskId"
                            class="editTaskId"
                        />
                        <div class="mdl-action-btn">
                            <button class="edit-action-btn" data-task-id="">
                                実行
                            </button>
                            <button class="close-mdl-btn">閉じる</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
